<div class="cp-main-content">

<section class="cp-departments-section pd-t100">
<div class="cp-bg-movement" data-ibg-bg="images/banner/banner-before-img.png"></div>
<div class="container">


<div class="row">
<div class="col-md-6">

<div class="cp-heading-style1_v2">
<h2>Espace Veterinaire</h2>

</div>
</div>
</div>
<div class="row">
<div class="col-md-6">

<div class="cp-accordian-item">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="cp-headingOne">
<h3 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#accordion" href="#cp-collapseOne" aria-expanded="true" aria-controls="cp-collapseOne">
<span class="icon-medical micon"></span>
Gerer Rendez-vous
</a>
</h3>
</div>
<div id="cp-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="cp-headingOne">
<div class="panel-body">
<div class="cp-text">
<p>ici vous pouvez valider ou annuler des rendez-vous </p>
</div>
    <form action="{{ path("rendezvous") }}">
        <button type="submit" class="btn-submit cp-btn-style2" value="Submit" >Valider</button></form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">

<figure class="cp-thumb">
<img src="{{ asset('images/magasin.jpg') }}" alt="">
</figure>
</div>
</div>
</div>
</section>
</div>